<main class="centered full-screen">
    <form class="{{styles.form}}">
        <ul>
            <h1 class="{{styles.form__title}}">{{title}}</h1>
            {{{ formFieldLogin }}}
            {{{ formFieldPassword }}}
        </ul>
    </form>
</main>