<div class="{{styles.modal}}">
    {{{ avatar }}}
    <div class="{{styles.name}}">Иван</div>
    <ul class="{{styles.info}}">
        {{{ dataFieldEmail }}}
        {{{ dataFieldLogin }}}
        {{{ dataFieldFirstName }}}
        {{{ dataFieldSecondName }}}
        {{{ dataFieldChatName }}}
        {{{ dataFieldPhone }}}
    </ul>
    <ul class="{{styles.actions}}">
        {{{ actionButtonEditData }}}
        {{{ actionButtonChangePassword }}}
        {{{ actionButtonExit }}}
    </ul>
    {{{ goBack }}}
</div>