{{#if isDisabled}}
    <button type="button" class="{{styles.button_disabled}} {{styles.button}}" disabled>{{label}}</button>
{{else}}
    <button type="button" class="{{styles.button}}">{{label}}</button>
{{/if}}