<main class="centered">
    <div class="{{styles.chats-preview-block}}">
        <nav class="{{styles.chats-preview-block-header}}">
            <a href="#" class="{{styles.settings-link}}">
                Профиль
                <div class="{{styles.settings-link__icon}}">
                    {{{ ArrowRight1 }}}
                </div>
            </a>
            <input type="text" class="{{styles.search}}" placeholder="Поиск">
        </nav>
        <ul class="{{styles.chats-preview}}">
            {{{ ChatPreview1 }}}
            {{{ ChatPreview2 }}}
            {{{ ChatPreview3 }}}
        </ul>
    </div>
    <div class="{{styles.chat}}">
        {{{ Chat }}}
    </div>
</main>