<main class="centered">
    <div class="{{styles.chats-preview-block}}">
        <nav class="{{styles.chats-preview-block-header}}">
            {{{ profileLink }}}
            <input type="text" class="{{styles.search}}" placeholder="Поиск">
        </nav>
        <ul class="{{styles.chats-preview}}">
            {{{ ChatPreviews }}}
        </ul>
    </div>
    <div class="{{styles.chat}}">
        {{{ Chat }}}
    </div>
    {{{ navbar }}}
</main>
