<div class="{{styles.error-component}}">
    <h1 class="{{styles.error-component__title}}">{{title}}</h1>
    <h2 class="{{styles.error-component__subtitle}}">{{subtitle}}</h2>
    <a href={{link.href}} class="{{styles.error-component__link}}">{{link.label}}</a>
</div>