<li>
    <ul class="{{styles.message-group}} {{styles.message-group_my}}">
        <div class="{{styles.message-group__date}}">{{date}}</div>
        {{{ message1 }}}
        {{{ message2 }}}
        {{{ message3 }}}
    </ul>
</li>
<li>
    <ul class="{{styles.message-group}} {{styles.message-group_companion}}">
        <div class="{{styles.message-group__date}}">{{date}}</div>
        {{{ message1 }}}
        {{{ message2 }}}
        {{{ message3 }}}
    </ul>
</li>