<div class="centered full-screen">
    <ul class="{{styles.list}}">
        <li>
            {{{ button404 }}}
        </li>
        <li>
            {{{ button500 }}}
        </li>
        <li>
            {{{ buttonSignUp }}}
        </li>
        <li>
            {{{ buttonSignIn }}}
        </li>
        <li>
            {{{ buttonMain }}}
        </li>
        <li>
            {{{ buttonProfileMain }}}
        </li>
        <li>
            {{{ buttonProfileEditData }}}
        </li>
        <li>
            {{{ buttonProfileChangePassword }}}
        </li>
    </ul>
</div>