<main class="centered full-screen">
    <form class="form" novalidate>
        <ul>
            <h1 class="form__title">{{title}}</h1>
            {{{ formFieldLogin }}}
            {{{ formFieldPassword }}}
        </ul>
        <div class="form__action-buttons">
            {{{ submitButton }}}
            {{{ noAccountLink }}}
        </div>
    </form>

    {{{ navbar }}}
</main>
