<form class="{{styles.new-message-panel}}">
    <button class="{{styles.new-message-panel__attach}}">
        {{{ Clip }}}
    </button>
    {{{ input }}}
    <button class="{{styles.new-message-panel__enter-button}}">
        {{{ ArrowRight2 }}}
    </button>
</form>