<nav class="{{styles.navbar}}">
    <ul class="{{styles.navbar__links}}">
        <li class="{{styles.navbar__link}}">
            {{{ Index }}}
            {{{ SignIn }}}
            {{{ SignUp }}}
            {{{ Profile }}}
            {{{ EditProfile }}}
            {{{ ChangePassword }}}
            {{{ Page404 }}}
            {{{ Page500 }}}
        </li>
    </ul>
</nav>