<nav class="{{styles.navbar}}">
    <ul class="{{styles.navbar__links}}">
        {{#each links}}
            <li class="{{styles.navbar__link}}">
                <a href="{{this}}">{{this}}</a>
            </li>
        {{/each}}
    </ul>
</nav>