<li class="{{styles.message}}">
    <span class="{{styles.message__text}}">{{text}}</span>
    <div class="{{styles.meta}}">
        {{#if (isMessageDelivered meta.status)}}
            {{{ Checkmark }}}
        {{/if}}
        <span class="{{styles.meta__text}}">{{meta.time}}</span>
    </div>
</li>