<li class="{{styles.form-field}}">
    <label for={{id}} class="{{styles.form-field__label}}">{{label}}</label>
    <input type={{type}} id={{id}} required={{isRequired}} class="{{styles.form-field__input}}" />
</li>