<li class="{{styles.data-field_editable}}">
    <label for={{id}} class="{{styles.data-field_editable__category}}">{{category}}</label>
    <input class="{{styles.data-field_editable__data}}" placeholder={{placeholder}} type={{type}} id={{id}} />
</li>