<main class="centered full-screen">
    <form class="form">
        <ul>
            <h1 class="form__title">{{title}}</h1>
            {{{ formfieldEmail }}}
            {{{ formfieldLogin }}}
            {{{ formfieldFirstName }}}
            {{{ formfieldSecondName }}}
            {{{ formfieldPhone }}}
            {{{ formfieldPassword }}}
            {{{ formfieldPassword2 }}}
        </ul>
        <div class="form__action-buttons">
            {{{ submitButton }}}
            <a href={{secondaryButton.href}} class="form__secondary-button">{{secondaryButton.label}}</a>
        </div>
    </form>
</main>