<main class="centered full-screen">
    <form class="form" novalidate>
        <ul>
            <h1 class="form__title">{{title}}</h1>
            {{{ formfieldEmail }}}
            {{{ formfieldLogin }}}
            {{{ formfieldFirstName }}}
            {{{ formfieldSecondName }}}
            {{{ formfieldPhone }}}
            {{{ formfieldPassword }}}
            {{{ formfieldPassword2 }}}
        </ul>
        <div class="form__action-buttons">
            {{{ submitButton }}}
            {{{ goToSignInLink }}}
        </div>
    </form>

    {{{ navbar }}}
</main>