<div class="{{styles.modal}}">
    {{{ avatar }}}
    <div class="{{styles.name}}">Иван</div>
    <ul class="{{styles.info}}">
        {{{ dataFieldOldPassword }}}
        {{{ dataFieldNewPassword }}}
        {{{ dataFieldNewPasswordRepeat }}}
    </ul>
    <ul class="{{styles.actions}}">
        {{{ submitButton }}}
    </ul>
    {{{ goBack }}}

    {{{ navbar }}}
</div>
